[submodule "FPlusPlus"]
	path = FPlusPlus
	url = https://github.com/RyanTorant/FPlusPlus.git
[submodule "tinyobjloader"]
	path = tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "DirectX-Headers"]
	path = DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
